{% extends 'adminlte/base.html' %}


{% block title %} My Index Page {% endblock %}


{% block content %}

<div class="row">

    {% for event in object_list %}
    <div class="col-sm-4 ">
        <div class="box">
            <div class="box-footer">
                <h3>{{ event.title }}</h3>
                <a href="{% url 'event-detail' pk=event.id %}" class="btn btn-danger btn-sm float-right ">REGISTER NOW</a>
            </div>
            <div class="box-body">
                <p>{{ event.description|default:"-" }}</p>
                <table class="table table-bordered">
                    <tr>
                        <th>Registration Before</th>
                        <th>{{ event.registration_closes_at }}</th>
                    </tr>
                    <tr>
                        <th>Event Start's At</th>
                        <th>{{ event.starts_at }}</th>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}