{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Suggetion Box {% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
        <h3>Do you Really Want to delete this {{ object.category }} </h3>
        <p class="text-muted"> {{ object.description }}</p>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger"> Yes! I Confirm! </button>
                    <a href="{% url 'suggestion-box-update' pk=object.pk %}" class="btn btn-info"> No, Take me Back! </a>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}