{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Login Page {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h3>Login</h3>
        <hr>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-lg mt-2" value="Submit">
        </form>
        <a href="{% url 'password_reset' %}">Forgot password? Reset here</a>
    </div>
</div>


{% endblock %}